.bundle/
log/*.log
pkg/
spec/dummy/db/*.sqlite3
spec/dummy/db/*.sqlite3-journal
spec/dummy/log/*.log
spec/dummy/tmp/
spec/dummy/.sass-cache
output.txt
spec/dummy/config/locales/account/
spec/dummy/config/locales/admin/
spec/dummy/config/locales/borrowers/
spec/dummy/config/locales/calculator/
spec/dummy/config/locales/dashboard/
spec/dummy/config/locales/devise.en.yml
spec/dummy/config/locales/documents/
spec/dummy/config/locales/doorkeeper.en.yml
spec/dummy/config/locales/en.bootstrap.yml
spec/dummy/config/locales/esignatures/
spec/dummy/config/locales/financeit-global-en.yml
spec/dummy/config/locales/financeit-global-fr.yml
spec/dummy/config/locales/financeit_mailer/
spec/dummy/config/locales/industries/
spec/dummy/config/locales/loan_application/
spec/dummy/config/locales/loan_exceptions/
spec/dummy/config/locales/loan_steps/
spec/dummy/config/locales/loans/
spec/dummy/config/locales/locale-en-US.yml
spec/dummy/config/locales/locale-en.yml
spec/dummy/config/locales/locale-fr-CA.yml
spec/dummy/config/locales/models_en.yml
spec/dummy/config/locales/models_fr.yml
spec/dummy/config/locales/occupations/
spec/dummy/config/locales/partner_referrals/
spec/dummy/config/locales/partners/
spec/dummy/config/locales/public/
spec/dummy/config/locales/regions/
spec/dummy/config/locales/reports/
spec/dummy/config/locales/sessions/
spec/dummy/config/locales/simple_form.en.yml
spec/dummy/config/locales/simple_form.fr.yml
spec/dummy/config/locales/tog_mail_en.yml
spec/dummy/config/locales/tour/
spec/dummy/config/locales/vehicles/
spec/dummy/config/locales/will_paginate/
