.row
  .col-md-offset-2.col-md-8
    %p.welcome
      = "Thank you for trying Missing Text! When you click the button below, this engine will search for and display any missing translations from your locale files below. These sessions will be versioned, so you will have the ability to navigate them by date, or clear their history."

    %p.welcome
      = "Please visit the Missing Text github for full configuration options."
.row
  .text-center
    = link_to "Run Missing Text", rerun_path, class: "btn btn-lg btn-primary run-missing-text-btn"