<!DOCTYPE html>
<html>
<head>
  <title>LocaleDiff</title>
  <%= stylesheet_link_tag    "locale_diff/application", media: "all" %>
  <%= javascript_include_tag "locale_diff/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
