!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title MissingText
    = stylesheet_link_tag    "missing_text/application", media: "all"
    = javascript_include_tag "missing_text/application"
    = csrf_meta_tags
  %body
    = yield
